<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <h1>Games inventory app</h1>
    <form action="/categories" method="GET">
      <button type="submit">Categories</button>
    </form>
    <form action="/items" method="GET">
      <button type="submit">Items</button>
    </form>
  </body>
</html>
