<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <div id="root">
      <%- include("../partials/navbar.ejs") %> <%-
      include("../partials/errors.ejs") %>
      <h1>Create game item</h1>
      <form method="POST" action="/create-item">
        <div>
          <input required type="text" name="name" placeholder="Name" />
        </div>
        <div>
          <input
            required
            type="text"
            name="developer"
            placeholder="Developer"
          />
        </div>
        <div>
          <input
            required
            type="text"
            name="year_released"
            placeholder="Year released"
          />
        </div>
        <div>
          <select multiple required name="genres">
            <option disabled value="" selected>Select a category</option>
            <% if (locals.categories) {%> <% categories.forEach((category) => {
            %>
            <option value="<%= category.id %>">
              <%= category.genre_name %>
            </option>
            <% }); %> <% } %>
          </select>
        </div>
        <button type="submit">Add</button>
      </form>
    </div>
  </body>
</html>
