<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <div id="root">
      <%- include("partials/navbar.ejs") %>
      <h1>Welcome to my simple inventory app!</h1>
      <p>
        This app allows you to easily track your games by category and item.
      </p>
    </div>
  </body>
</html>
