<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <div id="root">
      <%- include("../partials/navbar.ejs") %>
      <h1>Category list</h1>
      <form action="/create-category" method="GET">
        <button type="submit">Create category</button>
      </form>
      <ol>
        <% if (locals.categories) {%> <% categories.forEach((category) => { %>
        <li>
          <a href="/category/<%= category.id %>"><%= category.genre_name %></a>
        </li>
        <% }); %> <% } %>
      </ol>
    </div>
  </body>
</html>
