<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %> <% if (locals.category) { %>
    <h2>Category: <%= category[0].genre_name %></h2>
    <p>Games:</p>
    <ul>
      <% category.forEach((category) => { %>
      <li>
        <a href="/item/<%= category.game_id %>"><%= category.name %></a>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
