<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %> <% if (locals.genre_name) { %>
    <h2>Category: <%= genre_name %></h2>
    <% if (locals.games.length > 0) { %>
    <p>Games:</p>
    <ul>
      <% games.forEach((game) => { %>
      <li>
        <a href="/item/<%= game.game_id %>"><%= game.name %></a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No games available for this category.</p>
    <% } %> <% } %>
  </body>
</html>
